.form{
    position: absolute;
    border: 2px solid rgb(175, 115, 231);
    background-color: rgb(74, 218, 186);
    padding: 5px;
    bottom: 10px;
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.form-body{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.form-body input{
    flex: 1 0 21%;
    border-radius: 0px;
    margin: 10px;
    border: none;
    border: 1px solid fuchsia;
    color: rgb(60, 192, 185);
}
.form-body input:focus{
    outline: none;
}