.AppTable{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-40%);
}
table{
    text-align: center;
    border: 2px solid lightblue;
}
table tr *{
    padding: 5px 10px;
}
table button{
    border-radius: 0 !important;
}