.AppTable{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-40%);
    width: 80%;
}
table{
    width: 100%;
    text-align: center;
    border: 2px solid lightblue;
}
table tr *{
    padding: 5px 10px;
}
[type=button]{
    border-radius: 0 !important;
    font-size: 15px;
    padding: 5px;
    margin: 1px;
}