.navbar{
    background-color: rgb(58, 80, 141) !important;
}
.mr-auto *{
    color: rgb(221, 82, 40) !important;
    font-weight: bold;
    letter-spacing: 2px;
}
.navbar button{
    border: none;
    background-color: transparent;
    padding: 10px;
}
.navbar button:hover{
    background-color: rgb(60, 168, 60);
    color: rgb(251, 255, 0) !important;
}